<div class="image-container">
  <img class="background" src={{image}} />
  <div class="overlay-text">
  My Story
  </div>
  <img class="me" src={{me}}/>
  <div class="overlay-body">
    Welcome! So glad you chose to enter the portal and learn more about me and my journey. My name is Naima Jackson. I'm a freelance Software Engineer, with a
    passion for learning and technology. I've been working in the technology industry as a software engineer for the last 3 years. I specialize in web and
    api development, frontend development, and user experience utilizing the .Net framework. I am passionate about creating aesthetically pleasing, practical, and
    user friendly applications, so please feel free to contact me via my contact me page if you would like to work with me on your next project.
  </div>
</div>



